<form [formGroup]="editForm" novalidate (ngSubmit)="submitEdit()" [hidden]="isHidden">
    <div>
        <label for="a"></label>
        <input formControlName="title" type="text" id="a">
        <p [hidden]="editForm.controls['title'].valid">
            Insert a title</p>

    </div>
    <div>
        <label for="b"></label>
        <input formControlName="author" type="text" id="b">
        <p [hidden]="editForm.controls['author'].valid">
            Insert an author</p>

    </div>
    <button (click)="closeEdit()">close</button>
    <button type="submit">Edit book</button>
</form>