<style>
    p {
        display: none;
    }

    p.display {
        display: block;
    }
</style>
<h2>Insert a book</h2>
<form [formGroup]="addBookForm" novalidate (ngSubmit)="save(addBookForm.value, addBookForm.valid)">
    <div>
        <label for="input-book-title"></label>
        <input formControlName="title" type="text" id="input-book-title">
        <p [ngClass]="{'display': addBookForm.controls['title'].invalid && (formSubmitted || addBookForm.controls['title'].dirty)}">
            Insert a title</p>

    </div>
    <div>
        <label for="input-book-author"></label>
        <input formControlName="author" type="text" id="input-book-author">
        <p [ngClass]="{'display': addBookForm.controls['author'].invalid && (formSubmitted || addBookForm.controls['author'].dirty)}">
            Insert an author</p>

    </div>
    <button type="submit">Add book</button>
</form>