<ul>
   <li *ngFor="let book of books">
       <div>
           <img [src]="book.cover" alt="">
       </div>
       <div>
           <p>{{book.author}}</p>
           <h2>{{book.title}}</h2>
           <p>{{book.description}}</p>
           <div>
               <span>READ</span>
               <input type="checkbox" name="isRead" [checked]="book.read" (change)="toggleBookReadM(book.id)">
               <button (click)="removeBookM(book.id)">Remove</button>
               <button (click)="editBookM(book)">Edit</button>
           </div>
       </div>
   </li>
</ul>