<button (click)="openAddBookForm()">New book</button>
<form [hidden]="!formVisible" [formGroup]="addBookForm" novalidate (ngSubmit)="addBookM()">
    <h2>Insert a book</h2>
    <div>
        <label for="input-book-title"></label>
        <input placeholder="Title" formControlName="title" type="text" id="input-book-title">
        <p [ngClass]="{'display': addBookForm.controls['title'].invalid && addBookForm.controls['title'].dirty}">
            Insert a title</p>

    </div>
    <div>
        <label for="input-book-author"></label>
        <input placeholder="Author" formControlName="author" type="text" id="input-book-author">
        <p [ngClass]="{'display': addBookForm.controls['author'].invalid && addBookForm.controls['author'].dirty}">
            Insert an author</p>

    </div>
    <button type="submit">Add book</button>
</form>